
body {
	margin: 0px;
}

body > header {
	grid-area: header;
	background: var(--dark-background);
	color: var(--light-foreground);
}

nav {
	grid-area: nav;
	background: var(--dark-background);
	color: var(--light-foreground);
}

footer {
	grid-area: footer;
	background: var(--light-background);
	color: var(--dark-foreground);
}

section {
	background: var(--light-background);
}

article {
	grid-area: content;
	background: var(--dark-background);
	color: var(--dark-foreground);
}

.grid {
	display: grid;
	grid-template-rows: auto;
}
