
header {
	text-align: center;
	position: fixed;
	width: 100%;
	user-select: none;
}

nav {
	position: absolute;
	text-align: left;
	top: 100%;
	left: 0;
	width: 100%;
	transform: scale(1, 0);
	transform-origin: top;
	transition: transform 400ms ease-in-out;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	margin-bottom: 1em;
	margin-left: 1em;
}

nav a {
	color: var(--light-foreground);
	text-decoration: none;
	text-transform: uppercase;
	opacity: 0;
	transition: opacity 150ms ease-in-out, color 2s;
}

nav a:hover {
	color: var(--accent-foreground);
}

.nav-toggle {
	display: none;
}

.nav-toggle:checked ~ nav {
	transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
	opacity: 1;
	transition: opacity 150ms ease-in-out 300ms;
}

.nav-toggle-label {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 1em;
	height: 100%;
	display: flex;
	align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
	display: block;
	background: var(--light-foreground);
	height: 2px;
	width: 2em;
	border-radius: 2px;
	position: relative;
}

.nav-toggle:checked ~ .nav-toggle-label span, 
.nav-toggle:checked ~ .nav-toggle-label span::before,
.nav-toggle:checked ~ .nav-toggle-label span::after {
	background: var(--accent-foreground);
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
	content: '';
	position: absolute;
}

.nav-toggle-label span::before {
	top: 7px;
}

.nav-toggle-label span::after {
	bottom: 7px;
}

.maingrid {
	grid-template-columns: auto;
	grid-template-areas:  "nav" "header" "content" "footer";
}

#home {
	grid-area: home;
}

#services {
	grid-area: services;
}

#about {
	grid-area: about;
}

#contact {
	grid-area: contact;
}

.contentgrid {
	grid-template-areas: "home" "services" "about" "contact";
}

#first {
	grid-area: first;
}

#second {
	grid-area: second;
}

#thrid {
	grid-area: thrid;
}

.bandgrid {
	grid-template-areas: "first" "second" "thrid";
}

.modal {
	display: none;
}

article {
	width: 100%;
}

section {
	margin: 10px;
}

.darken-image {
	width: 100%;
}

.darken-image::after {
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: linear-gradient(red, blue);
}
